root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{c,h,inc}]
indent_style = space
indent_size = 8
trim_trailing_whitespace = true

[*.cxx]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.sx]
indent_style = space
indent_size = 8
trim_trailing_whitespace = true

[*.{env,env.in}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
