* {
    font-family: Helvetica;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

h1.title {
    text-align: center;
}

h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.outline-text-4 >:first-child {
    margin-top: 0.5em
}

pre {
    margin-left: 3em;
    border-left: 2px solid #767676;
    background: #F1F1F1;
    padding: 1.0em 0.0em 1.0em 1.0em;
}

#postamble a {
    color: #525E9A;
}

#postamble {
    text-align: center;
    border-top: 1px solid #ABA6A6;
    margin-top: 4.0em;
    color: #808080;
}

#postamble p {
    width: 100%;
}

body {
    background-color: #D9DFD9;
}

code {
    font-family: monospace;
    background: #EDEDED;
}

p,
li {
    max-width: 59.0em;
}

span.todo,
span.done {
    text-decoration: none;
    border-radius: 5px;
    padding: 3px;
    color: white;
}

span.todo {
    font-size: 65%;
    background: #dd0000;
}

span.done {
    font-size: 65%;
    background: #00dd00;
}

blockquote {
    background: #dddddd;
    padding: 0.5em 1.0em 0.5em 1.0em;
}

pre,
pre * {
    color: black !important;
}
